.home {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.home__title {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #293264;
}

.home__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #293264;
}

.home__btn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #F5F7FB;
    background: #4D5B9E;
    border-radius: 15px;
    border: 0px;
    width: 193px;
    height: 52px;
    cursor: pointer;
}

.home__btn:hover {
    opacity: 90%;
}