.quiz-element {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 5px 50px 0px;
}
    
.quiz-element__question {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;
    color: #293264;
}
  
.quiz-element__options {
    display: flex;
}
  
.quiz-option {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    padding: 10px;
    line-height: 12px;
    text-align: center;
    margin-right: 10px;
    color: #293264;
    border-radius: 7.94239px;
    border: 1px;
    line-height: 1;
    cursor: pointer;
}

.quiz-option:hover {
    background-color: #d8d9dd !important;
}

.quiz-divider {
    width: 100%;
    border: 1px solid #DBDEF0;
}